body {
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 40, 0.3), rgba(0, 0, 40, 0.3)),
    url("../images/ushuaia-background.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 150px 0;
}

h1 {
  font-size: 120px;
  margin: 0 auto;
}

header h2 {
  font-size: 32px;
  font-weight: 300;
  padding-bottom: 50px;
  margin: 0 auto;
}

section h2 {
  font-size: 44px;
  font-weight: 700;
  color: rgba(0, 0, 100, 0.8);
  margin: 0;
}

header h3 {
  font-size: 24px;
  letter-spacing: 5px;
  margin: 0 auto;
  font-weight: 300;
}

section h3 {
  font-size: 24px;
  font-weight: 400;
  opacity: 0.25;
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h5 {
  margin: 0;
  font-size: 20px;
}

h6 {
  margin: 0;
  font-size: 16px;
}
header a {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3px;
  padding: 15px 40px;
  background-color: white;
  color: black;
  text-decoration: none;
  display: inline-block;
  margin: 48px 0 0 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

footer a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
  transition: all 150ms ease-in-out;
}

footer a:hover {
  opacity: 1;
}

footer p {
  opacity: 0.8;
}
footer {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-gap: 20px;
  background-image: linear-gradient(rgba(0, 0, 40, 0.5), rgba(0, 0, 40, 0.5)),
    url("../images/ushuaia-footer.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 40px 80px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 100px;
}

.info img {
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.hikes {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 100px;
}

.hike-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 100px 0;
}

.hike-card {
  background-color: white;
}
.hike-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hike-info {
  text-align: left;
  padding: 20px;
}

.hike-card img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.hike-card iframe {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.button {
  background-color: rgba(0, 0, 100, 0.8);
  color: white;
  text-decoration: none;
  padding: 20px 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
  transition: all 150ms ease-in-out;
}

.button:hover {
  background-color: rgba(0, 0, 100, 0.9);
}

.photos {
  text-align: center;
  padding: 100px;
}

.photo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 100px 0;
}

.photos img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

@media (max-width: 768px) {
  header {
    padding: 50px 0;
  }
  h1 {
    font-size: 60px;
  }
  header h2 {
    font-size: 16px;
  }
  header h3 {
    font-size: 12px;
  }
  section h2 {
    font-size: 24px;
  }
  section h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  header a {
    font-size: 9px;
    margin: 0 auto;
  }
  footer {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 40px;
  }
  footer a {
    font-size: 14px;
  }
  .info {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 25px 15px;
  }
  .hikes {
    padding: 50px;
    margin: 0px 15px;
  }
  .hike-grid {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    padding: 50px 0;
  }

  .hike-card img {
    display: none;
  }

  .hike-header {
    grid-template-columns: 1fr;
  }

  .hike-header iframe {
    aspect-ratio: 16/9;
  }
  .photos {
    padding: 50px 0;
    margin: 0px 15px;
  }
  .photo-grid {
    grid-template-columns: 1fr;
    padding: 50px 0 0 0;
  }
}
